---
import BookGrid from '../components/BookGrid.tsx';
import Features from '../components/Features.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import HeroComponent from '../components/HeroComponent.tsx';
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="NCERT Library">
  <Header slot="header" />
  <HeroComponent client:load />
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-16">
    <BookGrid client:load />
  </div>
  <Features />
  <Footer slot="footer" />
</BaseLayout>
