---
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import SearchPage from '../components/SearchPage.tsx';
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="Search Books">
  <Header slot="header" />
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-8">
    <SearchPage client:load />
  </div>
  <Footer slot="footer" />
</BaseLayout>
